* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    color: var(--snowyPrimary);
}

/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} 
  
.nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
:root {
    --sunsetPrimary: #FF7043;
    --sunsetAccent: #FFB74D;
    --sunnyPrimary: #FDB813;
    --sunnyAccent: #FF6F00;
    --rainyPrimary: #4A6572;
    --rainyAccent: #0D47A1;
    --snowyPrimary: #E3F2FD;
    --snowyAccent: #90CAF9;
    --cloudyPrimary: #90A4AE;
    --cloudyAccent: #546E7A;
    --deepBlack: #0D0D0D;
}

.prevent-select {
    user-select: none;
}

a {
    text-decoration: none;
    color: var(--snowyPrimary);
}

.bg_gif {
    background-image: url(../assets/bg_images/b5d87317c9a1df50e85585e0b37cdf7e.gif);
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    background-color: var(--cloudyAccent);
    position: sticky;
    top: 0;
    padding: 10px 16px;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.7);
}

.navbar-brand {
    color: var(--snowyPrimary);
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: xx-large;
    cursor: pointer;
}

.nav-links {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    list-style: none;
    padding-top: 15px;
}

.nav-links a {
    color: var(--snowyPrimary);
    padding: 5px;
    margin: 5px;
}

.nav-links a:hover {
    border-radius: 8px;
}

.glass-card {
    /* background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px); */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 10px 5px rgba(255, 255, 255, 0.5);
    /* position: relative; */
    overflow: hidden;
}

/* .glass-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.8),
            transparent);
}

.glass-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.8),
            transparent,
            rgba(255, 255, 255, 0.3));
} */

.home_section {
    padding: 30px;
    width: 100%;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #E3F2FD, #90CAF9, #90A4AE, #546E7A);
    background-size: 300% 300%;
    animation: gradient 15s ease infinite;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.headings {
    color: var(--deepBlack);
    font-family: "Nunito", sans-serif;
}

.headings h2 {
    margin: 30px 0;
}

.action-btn {
    font-family: "Inter", sans-serif;
}

.action-btn button {
    background-color: var(--rainyAccent);
    color: var(--snowyPrimary);
    border: none;
    margin: 20px 10px;
    padding: 5px 15px;
    border-radius: 3px;
}

.action-btn button:hover {}

.action-btn button a {
    color: var(--snowyPrimary);
}

.action-btn p {
    font-size: small;
    font-weight: 200;
}

#search_bar {
    padding: 10px;
    background-color: var(--snowyPrimary);
    border-radius: 25px;
    box-shadow: 1px 1px 3px #90A4AE, -1px -1px 3px #E3F2FD;
}

#search_bar input, button {
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0 5px;
}

#search_bar input[type="text"] {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    color: #333;
}

#search_bar button {
    color: var(--cloudyAccent);
    margin: 0 5px 0 0;
}

.weatherData_section {
    font-family: "Inter", sans-serif;
    padding: 30px;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
}

.weatherTemp_main {
    width: 60%;
    padding: 50px;
    padding: 30px;
    width: 100%;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: start;
}

.details {
    border-radius: 10px;
    padding: 50px 20px;
    font-family: "Nunito", sans-serif;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.3);
    /* backdrop-filter: blur(13px); */
    /* -webkit-backdrop-filter: blur(20px); */
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.5);
}

.temp-and-name {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 15px;
}

.another_location {
    padding: 0 0 40px 30px;
}

.another_location h4 {
    font-family: "Inter", sans-serif;
}

.featured_cities {
    padding: 10px -10px;
}

.featured_cities:hover {
    color: var(--snowyAccent);
}

li {
    list-style: none;
    padding: 10px 0;
    cursor: pointer;
}

.weatherDets {
    padding: 0 30px;
}

.weatherDets h4 {
    font-family: "Inter", sans-serif;
}

.name_date {
    padding-bottom: 10px;
}

.temp-and-name h1 {
    font-size: 100px;
}

.temp-and-name h3 {
    font-size: 40px;
    line-height: 30px;
}

.temp-and-name p {
    font-size: 13px;
    font-weight: 500;
}

.weatherValues {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.errorMsg {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
}

.errorMsg p {
    font-family: "Nunito", sans-serif;
    font-size: xx-large;
}

.hidden {
    display: none;
}

.active-city {
    /* color: var(--rainyAccent); */
    background: linear-gradient(135deg, #4facfe, #00f2fe, 0.7);
    color: white;
    font-weight: bold;
    padding-left: 10px;
    backdrop-filter: blur(7px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 60%;
}